:root {
    --table-rad: 5px;
    --table-grid-color: #535353;
    --table-background-color: #C9D0D2;
    
}

/* Remove annoying gap, color entire table */
table{
    background-color: var(--table-background-color);
    border-radius: var(--table-rad);
    border-spacing: 0;
    width:100%;
    font-size:1.1rem;
    overflow: scroll;
}

/* Make grid */
th, td {
    border-bottom: 1px solid var(--table-grid-color);
    border-right: 1px solid var(--table-grid-color);
    padding: 12px 10px;
}

th {
    border-top: 1px solid var(--table-grid-color);
}


table tbody tr td:first-child,
table tbody tr th:first-child{
    border-left: 1px solid var(--table-grid-color);
}

/* TABLE CORNER ROUNDING */

/* Rount bottom left */
table tbody tr:last-child td:first-child {
    border-bottom-left-radius: var(--table-rad);
}

/* Round bottom right */
table tbody tr:last-child td:last-child {
    border-bottom-right-radius: var(--table-rad);
}

/* Round top left */
table tbody tr:first-child th:first-child {
    border-top-left-radius: var(--table-rad);
}


/* Round top right */
table tbody tr:first-child th:last-child {
    border-top-right-radius: var(--table-rad);
}

table input[type="text"]{
    font-weight: bold;
    background: rgba(0,0,0,0);
    border: none;
    border-bottom: 1px dashed rgba(0,0,0,0.5);
    font-size: 1.2rem
}

input[type="text"]:focus,
input[type="text"]:active{
    outline: none;
    background: rgba(0,0,0,0.1);
}

.lift-entry {
    display: block;
    margin: 0 auto;
    width: 90%;
}

.table-container{
    margin: 0 auto;
    width: 98%;
}

.streaming-options{
    width: max-content;
    margin: 0 auto; 
    margin-top: 15px
}

.weight-td{
    max-width: 4em;
}

.weight-input {
    width: 100%
}

@media (max-width: 1400px){


    td, th{
        font-size: 1rem;
        padding: 9px 6px;
    }

    table input[type="text"]{
        font-size:1.05rem;
    }
}